
  <!--Intro Section-->
  <section class="view intro-2 rgba-gradient">
    <div class="full-bg-img mask">
        <div class="container flex-center">
            <div class="row flex-center pt-5 mt-3 w-100">
                <div class="col-md-6 text-center text-md-left margins">
                    <div class="white-text text-center">
                        <h2 class="h1 h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Little Intro</h2>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <h6 class="wow fadeInLeft" data-wow-delay="0.3s"> The participants agreed on the Dakar Framework for their commitment to achieving Education  by the year 2015, and measurable education goals which aim to meet the learning needs of all children by 2015.</h6>
                            <br>
                            <a href="https://example.com/" class="btn">Explore</a>
                   <!-- <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect>Download -->
                                <i class="fa fa-android left right" aria-hidden="true"></i>
                                <i class="fa fa-apple left" aria-hidden="true"></i>
                                <i class="fa fa-windows" aria-hidden="true"></i>
                            <!-- </a> -->
                    </div>
                </div>

                <!-- <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
                    <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-admin.png" alt="" class="img-responsive">
                </div> -->
            </div>
        </div>
    </div>
</section>
<br>
<app-card></app-card>
